<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Welcome</title>
</head>

<body>
    <%- include('components/header',{username:username?username:""}) %>
        <div class="container">
            <h1>Welcome to the Forum!</h1>
            <p>Please <a href="/auth/register">Register</a> or <a href="/auth/login">Login</a> to continue.</p>
        </div>
</body>

</html>