<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Login</title>
</head>

<body>
    <%- include('components/header',{ username: "" }) %>
        <div class="container">
            <h1>Login</h1>
            <form action="/auth/login" method="POST">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="/auth/register">Register here</a>.</p>
        </div>
</body>

</html>