<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>About Me</h1>
        </div>
    </header>

    <main>
        <div class="container">
            <p>Hello, everyone. I'm aguito from Argentina!</p>
            <a href="/">Go back to the home page</a>
        </div>
    </main>

    <footer>
        <div class="container">
            &copy; Stackup Introduction to Back End Programming with NodeJS
        </div>
    </footer>
</body>
</html>