<!DOCTYPE html>
<html>
<head>
    <title>Express EJS Project</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Welcome to Stackie's website!</h1>
        </div>
    </header>

    <main>
        <div class="container">
            <p>This is the home page.</p>
            <a href="/about" class="button">Learn more about us</a>
            <p>The current time is <%= time %></p>
        </div>
    </main>

    <footer>
        <div class="container">
            &copy; Stackup Introduction to Back End Programming with NodeJS
        </div>
    </footer>
</body>
</html>